.container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 80%;
    color: black;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
  }
  
  .sidebar-item.active {
    border-color: black;
    border-style: solid;
  }
  
  .content {
    width: 70%;
    color: black;
    padding-left: 10px;
  }
  
  .details-list {
    list-style-type: disc;
    padding-left: 0px;
  }
  
#experience {
    background-color: rgb(250, 249, 246);
}