/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(250, 249, 246);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

p {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin: 0;
}

/* ANIMATION LANDING */

.container-landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 35em 15em;
}

.container-rotating {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px
}
.word {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.letter {
    display: inline-block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.letter.out {
    transform: translateY(-100%);
    opacity: 0;
}

.letter.behind {
    transform: translateY(100%);
    opacity: 0;
}

.letter.in {
    transform: translateY(0);
    opacity: 1;
}


.rotating-text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    transform: translateX(-80px);
  }

  .rotating-text p {
    display: inline-flex;
    margin: 0;
    font-size: 50px;
    vertical-align: top;
  }
  .rotating-text p .word {
    position: absolute;
    display: flex;
    opacity: 0;
  }
  .rotating-text p .word .letter {
    transform-origin: center center 25px;
  }
  .rotating-text p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  }
  .rotating-text p .word .letter.in {
    transition: 0.38s ease;
  }
  .rotating-text p .word .letter.behind {
    transform: rotateX(-90deg);
  }

  .rotating-text span {
    font-size: 50px;
  }
  
  .w-1 {
    color: #854943;
  }
  
  .w-2 {
    color: #743590;
  }
  
  .w-3 {
    color: #3498db;
  }
  
  .w-4 {
    color: #2ecc71;
  }
  
  .w-5 {
    color: #f1c40f;
  }

  .w-5 {
    color: #1ed4bc;
  }

@keyframes animation {
    0%,
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }
}

/* END ANIMATION LANDING */

/* END GENERAL */

/* NAVIGATION */

.nav {
    height: 3em;
    width: 100%;
    position: fixed;
    padding: 2em 0em;
}

.resume-link {
    border-color: black;
    border-radius: 4px;
    padding: 0.1em;
    border-style: solid;
}

.nav > div {
    display: inline-block;
    font-size: 18px;
    padding: 0px 2em;
}

.nav > .nav-links {
    float: right;
}

.nav > div > a {
    color: black;
    text-decoration: none;
    margin: 0 1em;
    background-image: linear-gradient(120deg, rgba(195, 219, 228, 1.0) 0%, rgba(255, 251, 200, 1.0) 75%, rgba(225, 175, 153, 1.0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 88%;
    transition: 0.25s ease-in-out;
}

.nav > div > a:hover {
    background-size: 100% 95%;
}

.nav.scrolled {
    opacity: 0;
    transition: all 1s ease;
}

.nav.scrolled:hover {
    opacity: 1;
}

/* END NAVIGATION */


/* ABOUT */

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    padding: 0 15em;
    height: 100vh;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em 15em;

}

#bio {
    display: inline-block;
    width: 60%;
}

.heading {
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 0.5em;
}

.highlight {
    font-size: 70px;
    background-image: linear-gradient(120deg, rgba(195, 219, 228, 1.0) 0%, rgba(255, 251, 200, 1.0) 75%, rgba(225, 175, 153, 1.0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

#photo img {
    max-width: 25vw;
    height: auto;
}

img {
    max-width: 40vw;
    height: auto;
}

.contact-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 3em;
    margin: 0em 1em;
    object-fit: contain;
}

a:hover .icon {
    opacity: 0.8;
}



/* END ABOUT */


/* EXPERIENCE */

.container-experience {
    min-height: 50vh;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10em;
}

.titles {
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(120deg, rgba(195, 219, 228, 1.0) 0%, rgba(255, 251, 200, 1.0) 75%, rgba(225, 175, 153, 1.0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.titles:hover {
    background-size: 100% 88%;
}

.highlight:hover {
    background-size: 100% 88%;
}

.container>div {
    padding: 5em;
}

.experience-accordion {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.accordion-item.open {
    background-color: #f8f8f8;
}

.accordion-header {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.accordion-title {
    font-size: 18px;
    font-weight: bold;
}

.accordion-content {
    padding: 15px;
    background-color: #ffffff;
}

.location {
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
}

.details {
    font-size: 16px;
    margin-bottom: 10px;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #9c77d8;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}


/* END EXPERIENCE */


/* PROJECTS */
.container-projects-outer {
    justify-content: space-between;
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20em 10em;
}

.project-card {
    background-color: #1c1c1e;
    text-align: start;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    max-width: 400px;
    flex-basis: calc(50% - 10px);
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    flex: 1;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.logo-image {
    width: 50px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.project-content {
    padding: 16px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 16px;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
}

.project-tech {
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 0.875rem;
}


.project-card > a {
    text-decoration: none;
    color: white;
}

.collapsible {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0em 2em;
    height: 5vh;
}

.collapsible:hover {
    background-color: #555;
}

.contents {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.accordion-menu {
    display: inline;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        padding: 8em 15em;
    }

    img {
        max-width: 90vw;
        max-height: 90vh;
    }

    #projects {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 5em;
    }

    .container-projects {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .project-card {
        max-width: 100%;
        flex-basis: 100%;
    }

    .container>div {
        padding: 2em;
    }

    .container-experience {
        padding: 0 10em;
    }

    .container-projects-outer {
        padding: 0 0em;
    }
}


@media only screen and (max-width: 992px) {

    .container {
        grid-template-columns: 1fr;
        padding: 5em 5em;
    }

    .container>div {
        padding: 2em;
    }

    .container-projects-outer {
        padding: 0 10em;
    }

    .container-experience {
        padding: 0 10em;
    }

    .project-card {
        max-width: 100%;
        flex-basis: 100%;
    }
}


@media only screen and (max-width: 768px) {

    .container-projects-outer,
    .container-experience {
        padding: 0 5em;

    }

    #bio {
        width: 100%;
        margin-top: 10em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
        padding: 0 5em;

    }

    .project-card {
        max-width: 100%;
        flex-basis: 100%;
    }

    .container-projects-outer {
        padding: 0 10em;
        margin: 0 0em;
    }

    #photo img {
        max-width: 100%;
        height: auto;
    }

    .project-card {
        max-width: 100%;
        flex-basis: 100%;
    }

    .project-image {
        height: 25vh;
    }

    .heading {
        font-size: 36px;
    }

    .highlight {
        font-size: 50px;
    }

    .titles {
        font-size: 36px;
    }

    .icon {
        width: 2em;
        margin: 0em 1em;
        object-fit: contain;
    }
}

@media only screen and (max-width: 576px) {

    .container-projects-outer,
    .container-experience {
        padding: 0 5em;
    }

    .heading {
        font-size: 30px;
    }

    .highlight {
        font-size: 40px;
    }

    .titles {
        font-size: 30px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    #photo img {
        max-width: 100%;
        height: auto;
    }

    .project-card {
        max-width: 100%;
        flex-basis: 100%;
    }

    .collapsible {
        padding: 0em 1em;
        height: auto;
    }
    .nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container {
        padding: 0 5em;
    }


    .container>div {
        padding: 1em;
    }
}
