html {
    scroll-behavior: smooth;
}

.nav {
    height: 3em;
    width: 100%;
    position: fixed;
    padding: 1.5em 0em;
}

.resume-link {
    border-color: black;
    border-radius: 4px;
    padding: 0.1em;
    border-style: solid;
}

.nav > div {
    display: inline-block;
    font-size: 18px;
    padding: 0px 2em;
}

.nav > .nav-links {
    float: right;
}

.nav > div > a {
    color: black;
    text-decoration: none;
    margin: 0 1em;
    background-image: linear-gradient(120deg, rgba(195, 219, 228, 1.0) 0%, rgba(255, 251, 200, 1.0) 75%, rgba(225, 175, 153, 1.0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 88%;
    transition: 0.25s ease-in-out;
}

.nav > div > a:hover {
    background-size: 100% 95%;
}

.nav.scrolled {
    opacity: 0;
    transition: all 1s ease;
}

.nav.scrolled:hover {
    opacity: 1;
}


@media only screen and (max-width: 768px) {
    .nav {
        height: 3em;
        width: 100%;
        padding: 1.5em 0em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom:  0px;
    }
}